<div class='col-lg-6'>
  <div class='well'>

  <%= form_for(@comic,:method=>'post') do |c|%>

   <!-- WRITE THE CORRECT FORM HEADER AND BLOCK USING ERB -->


     <div class="form-group">
     <p>Title:</p><%= c.text_field :title, class: 'form-control' %>
      <!-- DISPLAY A TITLE LABEL -->
      <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
    </div>
    <div class="form-group">
    <p>Description:</p><%= c.text_field :description, class: 'form-control' %>
      <!-- DISPLAY A DESCRIPTION LABEL -->
      <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
    </div>
    <div class="form-group">
    <p>URL for cover image:</p><%= c.text_field :imageURL, class: 'form-control' %>
      <!-- DISPLAY AN IMAGE LABEL -->
      <!-- DISPLAY A TEXT FIELD ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
    </div>
    <div class="actions">
    <%= c.submit "Add comic", class: 'btn btn-primary' %>
      <!-- DISPLAY A SUBMIT BUTTON WITH A CLASS OF 'btn btn-primary' -->
    </div>
    <% if @comic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

        <ul>
        <% @comic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>




  <% end %>
  </div>
</div>


