<% @comics.in_groups_of(4, false).each_with_index do |group, index| %>
  <div class="row">
    <% group.each do |comic| %>
      <div class='col-lg-3 test'>
    <a href="comics/<%= comic.id.to_s %>"> <img class='img-responsive' src= <%= comic.imageURL %> ></a>
      </div>
    <% end %>
  </div>
<% end %>
