<div class='row'>
  <div class='col-md-5'>
    <img class='img-responsive' src= <%= @comic.imageURL %>>
  </div>
  <div class='col-md-7'>
    <h1><%= @comic.title%></h1>
    <h4><%= @comic.description%></h4>
     <%= button_to "Delete comic book", { action: "destroy" , id: @comic.id },
                                method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-warning' %>
  </div>
</div>
